## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data=[4,8,15,16,23,42]

In [3]:
series_dataset=pd.Series(data)

In [4]:
type(series_dataset)

pandas.core.series.Series

In [5]:
print(series_dataset)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.



## ANS:-

In [6]:
list=['Nasim','akram','data_scientiest',4+5j,74,'mom','dad']

we have already imported pandas as pd in our previous question, so we don't need to import here

In [7]:
series_list=pd.Series(list)

In [8]:
type(series_list)

pandas.core.series.Series

In [9]:
print(series_list)

0              Nasim
1              akram
2    data_scientiest
3             (4+5j)
4                 74
5                mom
6                dad
dtype: object

## Q3. Create a Pandas DataFrame that contains the following data: ![Screenshot 2024-01-25 144614.png]()

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female



## Then, print the DataFrame.

## ANS:-

In [10]:
data={'Name':['Alice','Bob','Clarie'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [11]:
DataFrame=pd.DataFrame(data)

In [12]:
print(type(DataFrame))

<class 'pandas.core.frame.DataFrame'>

In [13]:
print(DataFrame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

In [14]:
DataFrame.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

## ANS:-

## In Pandas, a DataFrame is a two-dimensional, tabular data structure that consists of rows and columns. It can be thought of as a container for Pandas Series objects, where each column represents a Series. The DataFrame is a versatile data structure that allows you to store and manipulate heterogeneous data types.

#On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type. A DataFrame, therefore, is like a collection of Series, where each Series corresponds to a column

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

## ANS:-

It has wide range of functions but let's see some of the frequently used function during the analysis or making model to predict the outcome

In [15]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 22],
    'Salary': [50000, 60000, 75000, 90000, 45000]
}

df = pd.DataFrame(data)

In [17]:
print(df.head(2))

    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

In [18]:
print(df.tail(2))

    Name  Age  Salary
3  David   40   90000
4    Eva   22   45000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Salary  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [21]:
df.shape #it is instance

(5, 3)

In [22]:
df.describe()

             Age        Salary
count   5.000000      5.000000
mean   30.400000  64000.000000
std     7.300685  18506.755523
min    22.000000  45000.000000
25%    25.000000  50000.000000
50%    30.000000  60000.000000
75%    35.000000  75000.000000
max    40.000000  90000.000000

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

## ANS:-

## In the context of pandas, both Series and DataFrame are mutable in nature, while Panel is considered deprecated. Mutable objects can be modified after creation, and both Series and DataFrame allow for adding, updating, or deleting elements.

## ANS:-

In [23]:
ser1=[12,'nasim',786,'india','BhARAT']
ser2=[13,'what','nothere','Hindustan',56]
ser3=[1,2,3,4,5]

In [24]:
SER1=pd.Series(ser1)
SER2=pd.Series(ser2)
SER3=pd.Series(ser1)

In [28]:
data={'ser1':SER1,'ser2':SER2,'ser3':SER3}

In [29]:
df1=pd.DataFrame(data)

In [30]:
df1

     ser1       ser2    ser3
0      12         13      12
1   nasim       what   nasim
2     786    nothere     786
3   india  Hindustan   india
4  BhARAT         56  BhARAT

In [31]:
print(df1)

     ser1       ser2    ser3
0      12         13      12
1   nasim       what   nasim
2     786    nothere     786
3   india  Hindustan   india
4  BhARAT         56  BhARAT

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ser1    5 non-null      object
 1   ser2    5 non-null      object
 2   ser3    5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes